

<div>
  <h1>Recuperación de constraseña</h1>
  <p>Escribe tu correo registrado para enviarte un correo para restablecer tu contraseña</p>
  <form id="forgotForm">
    <label>Email</label>
    <input name="email" />
    <input type="submit" value="Enviar correo"  />
  </form>
</div>
<script src="/js/forgot-pass.js"></script>