<div>
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>¿Olvidaste tu contraseña? <a href="/forgot-pass"> Recuperala aquí</a></p>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<div>
  <a href="/api/sessions/github"><button>Ingresar con GitHub</button></a>
</div>
<script src="/js/login.js"></script>