<div>
  <h1>llegaste a restablecer contraseña con token</h1>

  <form id="resetForm">
    <div style="display: flex;flex-direction: column;width: 300px ;">
      <label>Email</label>
      <input name="email" />
    </div>

    <br />
    <div style="display: flex;flex-direction: column;width: 300px ">
      <label>Contraseña</label>
      <input type="password" name="password" />
      <p id="errorMessage" style="color: red; margin-top: 10px; display: none;"></p>
    </div>
    <br />
    <input type="submit" value="restablecer" />

  </form>
</div>
<div id="popupOverlay" class="{{#if response.ok}}active{{/if}}">
  <div class="popup-content">
    <h2>¡Restablecimiento de contraseña exitoso!</h2>
    <p>Tu contraseña se ha restablecido correctamente.</p>
    <button id="redirectButton">Accept</button>
  </div>
</div>

<script src="/js/reset-pass.js"></script>
