.container-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container-change-user{
    align-items: center;
    display: flex;
}
h1{
    font-size: 1.2rem;
    font-family: sans-serif;
}

h2{
    margin-top: -10px;
    font-size: 1rem;
    font-family: sans-serif;
}


.contianer-section-products-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 20px;
    justify-items: center;
}

.container-card-product{
    background-color: #ffffff;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 40px #51515126;

}
.box-card-product{
    margin: 40px;
    font-weight: 500;
    
}    

.contianer-tags{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.tag-id{
    width: 50px;
    border-radius: 20px;
    height: 30px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.7rem;
}

.tag-status{
    width: auto;
    padding: 0px 10px;
    border-radius: 20px;
    height: 30px;
    background-color: #b3daff;
    color: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.7rem;
}

.container-stock{
    color:red;
    font-size: 0.8rem;
    font-family: sans-serif;
    margin: 0px;
}
.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

img{
    width: 200px;
}


.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    text-align: center;
  }
  
.gallery:hover {
border: 1px solid #777;
}

.desc {
padding: 15px;
text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ededed;
  }
  
  .pagination-button {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }

  .number-page{
    font-size: 20px;
    margin: 0px 10px;
  }

  .container-personal-info{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }


  .container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


 